/* Custom Property  */
.bx {
  font-size: 1.3em;
}

:root {
  /* Colours */
  /* Gradient */
  --bg-gradient-onyx: linear-gradient(to bottom right,
      hsl(240, 1%, 25%) 3%,
      hsl(0, 0%, 19%) 97%);
  --bg-gradient-jet: linear-gradient(to bottom right,
      hsla(240, 18%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(to bottom right,
      hsl(45, 100%, 71%) 0%,
      hsla(36, 100%, 69%, 0) 50%);
  --bg-gradient-yellow-2: linear-gradient(135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0%) 50%);
  --text-gradient-yellow: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  /* Solid */
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-grey: hsl(0, 0%, 84%);
  --light-grey-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimer: hsl(0, 43%, 51%);
  /* Typography */
  /* Font family */
  --ff-poppins: 'Poppins', sans-serif;
  /* Font size */
  --fs-1: 1.5em;
  --fs-2: 1.13em;
  --fs-3: 1.06em;
  --fs-4: 1em;
  --fs-5: 0.94em;
  --fs-6: 0.88em;
  --fs-7: 0.81em;
  --fs-8: 0.69em;
  /* font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  /* shadow */
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  /* transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-ion,
button,
a,
time,
span {
  display: block;
}

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  background: none;
  display: block;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus {
  outline-color: var(--orange-yellow-crayola);
}

html {
  font-family: var(--ff-poppins);
}

body {
  background: var(--smoky-black);
}

/* Reused Style / Components*/
.sidebar,
article {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 1.25em;
  padding: 0.94em;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 1em 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 1.875em;
  height: 1.875em;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: '';
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

article {
  display: none;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 {
  font-size: var(--fs-1);
}

.h3 {
  font-size: var(--fs-1);
}

.h4 {
  font-size: var(--fs-4);
}

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fs-500);
}

.article-title {
  position: relative;
  /* padding-bottom: 0.44em; */
  margin-bottom: 1.3em;
}

.article-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 1.5em;
  width: 1.88em;
  height: 0.19em;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 0.31em;
  height: 0.31em;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
  cursor: pointer;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
  cursor: pointer;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 1.25em;
}

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 0.93em;
  padding-top: 2.81em;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: '';
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

/* Main /////////////////////////// */
@media screen and (min-width: 20em) {

  /* Main */
  main {
    margin: 0.94em 0.75em 4.69em;
    min-width: 16.2em;
  }

  /* Sidebar //////////////////*/
  .sidebar {
    margin-bottom: 0.94em;
    max-height: 7em;
    overflow: hidden;
    transition: var(--transition-2);
  }

  .sidebar.active {
    max-height: 25.313em;
  }

  .sidebar-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25em;
  }

  .avatar-box {
    background: var(--bg-gradient-onyx);
    border-radius: 1.25em;
    /* width: 1em; */
    transform: scale(.75);
  }

  .avatar-box img {
    transform: scale(1);
  }

  .info-content .name {
    color: var(--white-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    letter-spacing: -0.25px;
    margin-bottom: 0.625em;
  }

  .info-content .title {
    color: var(--white-1);
    background: var(--onyx);
    font-size: var(--fs-8);
    font-weight: var(--fw-300);
    width: max-content;
    padding: 0.19em 0.75em;
    border-radius: 8px;
  }

  .info_more-btn {
    position: absolute;
    top: -0.94em;
    right: -0.94em;
    border-radius: 0.94em 0;
    font-size: 0.813em;
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 0.63em;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
  }

  .info_more-btn::before {
    content: '';
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition-1);
    z-index: -1;
  }

  .info_more-btn:hover,
  .info_more-btn:focus {
    background: var(--bg-gradient-yellow-1);
  }

  .info_more-btn:hover::before,
  .info_more-btn:focus::before {
    background: var(--bg-gradient-yellow-2);
  }

  .info_more-btn span:nth-child(1) {
    display: none;
  }

  .sidebar-info-more {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
  }

  .sidebar.active .sidebar-info-more {
    opacity: 1;
    visibility: visible;
  }

  .contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .contact-info {
    max-width: calc(100% - 2.88em);
    width: calc(100% - 2.88em);
  }

  .contact-title {
    color: var(--light-grey-70);
    font-size: var(--fs-8);
    text-transform: uppercase;
    margin-bottom: 0.13em;
  }

  .contact-info :is(.contact-link, time, address) {
    color: var(--white-2);
    font-size: var(--fs-6);
  }

  .contact-info address {
    font-style: normal;
  }

  .social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.94em;
    padding-bottom: 0.25em;
    padding-left: 0.44em;
  }

  .social-item .social-link {
    color: var(--light-grey-70);
    font-size: 1.13em;
  }

  .social-item .social-link:hover {
    color: var(--light-grey);
  }

  /* Navbar ////////////////*/
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--jet);
    border-radius: 0.75em 0.75em 0 0;
    box-shadow: var(--shadow-2);
    z-index: 5;
  }

  .navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0.63em;
  }

  .navbar-link {
    color: var(--light-grey);
    font-size: var(--fs-4);
    padding: 1.25em 0.44em;
    transition: color var(--transition-1);
  }

  .navbar-link:hover,
  .navbar-link:focus {
    color: var(--light-grey-70);
  }

  .navbar-link.active {
    color: var(--orange-yellow-crayola);
  }

  /* About ////////////////////*/
  .about .article-title {
    margin-bottom: 0.94em;
  }

  .about-text {
    color: var(--light-grey);
    font-size: var(--fs-5);
    font-weight: var(--fw-400);
    line-height: 1.6;
  }

  .about-text p {
    margin-bottom: 0.94em;
  }

  /* Service ///////////////// */
  .services {
    margin-bottom: 2.2em;
  }

  .service-title {
    margin-bottom: 1.25em;
  }

  .service-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25em;
  }

  .service-item {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 1.25em;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
  }

  .service-item::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
  }

  .service-icon-box {
    margin-bottom: 0.63em;
  }

  .service-icon-box img {
    margin: auto;
  }

  .service-content-box {
    text-align: center;
  }

  .service-item-title {
    margin-bottom: 0.44em;
  }

  .service-item-text {
    color: var(--light-grey);
    font-size: var(--fs-5);
    font-weight: var(--fw-300);
    line-height: 1.4;
  }

  /* Testimonials */
  .testimonials {
    margin-bottom: 1.88em;
  }

  .testimonials-title {
    margin-bottom: 1.25em;
  }

  .testimonials-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.94em;
    margin: 0 -0.94em;
    padding: 1.56em 0.94em;
    padding-bottom: 2.19em;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
  }

  .testimonials-item {
    min-width: 100%;
    scroll-snap-align: center;
  }

  .testimonials-avatar-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0.94em, -1.56em);
    background: var(--bg-gradient-onyx);
    border-radius: 14px;
    box-shadow: var(--shadow-1);
  }

  .testimonials-item-title {
    margin-bottom: 0.44em;
  }

  .testimonials-text {
    color: var(--light-grey);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    display: -webkit-box;
    line-break: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* Testimonials modal /////////////// */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
  }

  .modal-container::webkit-scrollbar {
    display: none;
  }

  .modal-container.active {
    pointer-events: all;
    visibility: visible;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-1);
  }

  .overlay.active {
    opacity: 0.98;
    visibility: visible;
    pointer-events: all;
  }

  .testimonials-modal {
    background: var(--eerie-black-2);
    position: relative;
    padding: 0.94em;
    margin: 0.94em 0.75em;
    border: 1px solid var(--jet);
    border-radius: 14px;
    box-shadow: var(--shadow-5);
    transform: scale(1.2);
    opacity: 0;
    transition: var(--transition-1);
    z-index: 2;
  }

  .modal-container.active .testimonials-modal {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }

  .modal-close-btn {
    position: absolute;
    top: 0.94em;
    right: 0.94em;
    background: var(--onyx);
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-2);
    font-size: 1.125em;
    opacity: 0.7;
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    opacity: 1;
    cursor: pointer;
  }

  .modal-avatar-box {
    background: var(--bg-gradient-onyx);
    width: max-content;
    border-radius: 14px;
    margin-bottom: 0.94em;
    box-shadow: var(--shadow-2);
  }

  .modal-img-wrapper>img {
    display: none;
  }

  .modal-title {
    margin-bottom: 0.25em;
  }

  .modal-content time {
    font-size: var(--fs-6);
    color: var(--light-grey-70);
    font-weight: var(--fw-300);
    margin-bottom: 0.63em;
  }

  .modal-content p {
    color: var(--light-grey);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
  }

  /* Clients */
  .clients {
    margin-bottom: 0.94em;
  }

  .clients-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.94em;
    margin: 0 -0.94em;
    padding: 1.56em;
    padding-bottom: 0.94em;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1.56em;
  }

  .clients-item {
    min-width: 50%;
    scroll-snap-align: start;
  }

  .clients-item img {
    width: 100%;
    filter: grayscale(1);
    transition: var(--transition-1);
  }

  .clients-item img:hover {
    filter: grayscale(0);
  }

  /* Resume /////////////////*/
  /* Education and Experience /////////// */
  .timeline {
    margin-bottom: 1.88em;
  }

  .timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.94em;
    margin-bottom: 1.56em;
  }

  .timeline-list {
    font-size: var(--fs-3);
    margin-left: 2.81em;
  }

  .timeline-item:not(:last-child) {
    margin-bottom: 1.25em;
  }

  .timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 0.44em;
  }

  .timeline-list span {
    color: var(--vegas-gold);
    font-weight: var(--fw-400);
    line-height: 1.6;
  }

  .timeline-item {
    position: relative;
  }

  .timeline-item:not(:last-child)::before {
    content: '';
    position: absolute;
    top: -1.56em;
    left: -1.88em;
    width: 1px;
    height: calc(100% + 3.13em);
    background: var(--jet);
  }

  .timeline-item::after {
    content: '';
    position: absolute;
    top: 0.31em;
    left: -2.06em;
    height: 0.38em;
    width: 0.38em;
    background: var(--text-gradient-yellow);
    border-radius: 50%;
    box-shadow: 0 0 0 0.25em var(--jet);
  }

  .timeline-text {
    color: var(--light-grey);
    font-weight: var(--fw-300);
  }

  /* Skills */
  .skills-title {
    margin-bottom: 1.25em;
  }

  .skills-list {
    padding: 1.25em
  }

  .skills-item:not(:last-child) {
    margin-bottom: 0.94em;
  }

  .skill .title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.31em;
    margin-bottom: 0.5em;
  }

  .skill .title-wrapper data {
    color: var(--light-grey);
    font-size: var(--fs-7);
    font-weight: var(--fw-300);
  }

  .skill-progress-bg {
    background: var(--jet);
    width: 100%;
    height: 0.5em;
    border-radius: 0.63em;
  }

  .skill-progress-fill {
    background: var(--text-gradient-yellow);
    height: 100%;
    border-radius: inherit;
  }

  /* Portfolio ///////////////////////////// */
  .filter-list {
    display: none;
  }

  .filter-select-box {
    position: relative;
    margin-bottom: 1.56em;
  }

  .filter-select {
    background: var(--eerie-black-2);
    color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.75em 1em;
    border: 1px solid var(--jet);
    border-radius: 0.88em;
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
  }

  .filter-select.active .select-icon {
    transform: rotate(0.5turn);
    transition: transform 0.5s var(--transition-1);
  }

  .select-list {
    background: var(--eerie-black-2);
    position: absolute;
    top: calc(100% + 0.38em);
    width: 100%;
    padding: 0.38em;
    border: 1px solid var(--jet);
    border-radius: 0.88em;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.15s ease-in-out;
  }

  .filter-select.active+.select-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .select-item button {
    background: var(--eerie-black-2);
    color: var(--light-grey);
    font-size: var(--fs-4);
    font-weight: var(--fw-300);
    text-transform: capitalize;
    width: 100%;
    padding: 0.5em 0.63em;
    border-radius: 0.5em;
  }

  .select-item button:hover {
    --eerie-black-2: hsl(240, 2%, 20%);
  }

  .project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.88em;
    margin-bottom: 0.63em;
  }

  .project-item {
    display: none;
  }

  .project-item.active {
    display: block;
    animation: scaleUp 0.25s ease forwards;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(0.5);
    }

    100% {
      transform: scale(1);
    }
  }

  .project-item>a {
    width: 100%;
  }

  .project-img {
    position: relative;
    width: 100%;
    height: 12.5em;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 0.94em;
  }

  .project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
  }

  .project-item>a:hover .project-img::before {
    background: hsla(0, 0%, 0%, 0.5);
  }

  .project-item-icon-box {
    --scale: 0.8;
    background: var(--jet);
    color: var(--orange-yellow-crayola);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.94em;
    border-radius: 0.75em;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
  }

  .project-item>a:hover .project-item-icon-box {
    --scale: 1;
    opacity: 1;
  }

  .project-item-icon-box span {
    font-weight: 300;
  }

  .project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: var(--transition-1); */
    transition: transform .7s ease-in-out;
  }

  .project-item>a:hover img {
    transform: scale(1.1);
  }

  .project-title, .project-category {
    margin-left: 0.625em;
  }

  .project-title {
    color: var(--white-2);
    font-size: var(--fs-4);
    font-weight: var(--fw-400);
    text-transform: capitalize;
    line-height: 1.3;
  }

  .project-category {
    color: var(--light-grey-70);
    font-size: var(--fs-5);
    font-weight: var(--fw-300);
  }

  /* Blog */
  .blog-post {
    margin-bottom: 0.63em;
  }

  .blog-post-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25em;
  }

  .blog-post-item {
    margin-bottom: 2em;
  }

  .blog-post-item>a {
    position: relative;
    background: var(--border-gradient-onyx);
    height: 100%;
    box-shadow: var(--shadow-4);
    border-radius: 1em;
    z-index: 1;
  }

  .blog-post-item>a::before {
    content: '';
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--eerie-black-1);
    z-index: -1;
  }

  .blog-banner-box {
    width: 100%;
    height: 13em;
    border-radius: 0.75em;
    overflow: hidden;
  }

  .blog-banner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .7s ease-in-out;
  }

  .blog-post-item>a:hover .blog-banner-box img {
    transform: scale(1.1);
  }

  .blog-content {
    padding: 0.94em;
  }

  .blog-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.44em;
    margin-bottom: 0.63em;
  }

  .blog-meta :is(.blog-category, time) {
    color: var(--light-grey-70);
    font-size: var(--fs-5);
    font-weight: var(--fw-300);
  }

  .blog-meta .dot {
    background: var(--light-grey-70);
    width: 0.25em;
    height: 0.25em;
    border-radius: 0.25em;
  }

  .blog-item-title {
    font-size: var(--fs-1);
    margin-bottom: 0.63em;
    line-height: 1.3;
    transition: var(--transition-1);
  }

  .blog-post-item>a:hover .blog-item-title {
    color: var(--orange-yellow-crayola);
  }

  .blog-text {
    color: var(--light-grey);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
  }

  /* Contact //////////////////// */
  .mapbox {
    postion: relative;
    height: 15.63em;
    width: 100%;
    border-radius: 1em;
    margin-bottom: 1.88em;
    border: 1px solid var(--jet);
    overflow: hidden;
  }

  .mapbox figure {
    height: 100%;
  }

  .mapbox iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) invert(1);
  }

  .contact-form {
    margin-bottom: 0.63em;
  }

  .form-title {
    margin-bottom: 1.25em;
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.56em;
    margin-bottom: 1.56em;
  }

  .form-input {
    color: var(--white-2);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    padding: 0.813em 1.25em;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
  }

  .form-input::placeholder {
    font-weight: var(--fw-500);
  }

  .form-input:focus {
    border-color: var(--orange-yellow-crayola);
  }

  textarea.form-input {
    min-height: 6em;
    height: 7.81em;
    max-height: 12.5;
    resize: vertical;
    margin-bottom: 1.56em;
  }

  textarea.form-input::-webkit-resizer {
    display: none;
  }

  .form-input:focus:invalid {
    border-color: var(--bittersweet-shimer);
  }

  .form-btn {
    position: relative;
    width: 100%;
    background: var(--border-gradient-onyx);
    color: var(--orange-yellow-crayola);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.63em;
    padding: 0.813em 1.25em;
    border-radius: 0.88em;
    font-size: var(--fs-5);
    text-transform: capitalize;
    box-shadow: var(--shadow-1);
    z-index: 1;
    transition: var(--transition-1);
  }

  .form-btn::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
    transition: all .9s ease-in-out;
  }

  .form-btn span {
    font-size: 1.2em;
  }

  .form-btn span:nth-child(1) {
    transform: rotate(-45deg);
    font-size: 1.5em;
  }

  .form-btn:hover {
    background: var(--bg-gradient-yellow-1);
  }

  .form-btn:hover::before {
    background: var(--bg-gradient-yellow-2);
  }

  .form-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  .form-btn:disabled:hover {
    background: var(--border-gradient-onyx);
  }

  .form-btn:disabled:hover::before {
    background: var(--bg-gradient-jet);
  }
}

/* Responsivenes ////////////////////// */
/* > 450px */
@media (min-width: 35em) {
  .clients-item {
    min-width: calc(33.33% - 0.63em);
  }

  /* Portfolio | Blog*/
  .project-img, .blog-banner-box {
    height: auto;
  }
}

/* // */
/* > 580px */
@media (min-width: 40em) {

  /* Custom property */
  :root {
    /* Typography */
    --fs-1: 2em;
    --fs-2: 1.63em;
    --fs-3: 1.5em;
    --fs-4: 1.125em;
    --fs-5: 0.94em;
    --fs-6: 0.813em;
    --fs-7: 0.75em;
    --fs-8: 0.63em;
  }

  .h2 {
    font-size: var(--fs-1);
  }

  .h3 {
    font-size: var(--fs-1);
  }

  .h4 {
    font-size: var(--fs-3);
  }

  .h5 {
    font-size: var(--fs-5);
    font-weight: var(--fs-500);
  }

  /* Reused style / Components */
  .sidebar, article {
    width: 40em;
    margin-inline: auto;
    padding: 1.88em;
  }

  .article-title {
    font-weight: var(--fw-600);
    /* padding-bottom: 0.94em; */
  }

  .article-title::after {
    width: 2em;
    height: 0.15em;
  }

  .icon-box {
    width: 3em;
    height: 3em;
    border-radius: 0.75em;
    font-size: 1.125em;
  }

  /* Main */
  main {
    margin-top: 3.75em;
    margin-bottom: 11.25em;
  }

  /* Sidebar */
  .sidebar {
    max-height: 11.25em;
    margin-bottom: 1.88em;
  }

  .sidebar.active {
    max-height: 36.5em;
  }

  .sidebar-info {
    gap: 1.56em;
  }

  .avatar-box {
    border-radius: 1.25em;
  }

  .avatar-box img {
    width: 9em;
  }

  .info-content .name {
    margin-bottom: 0.94em;
    font-size: var(--fs-2);
  }

  .info-content .title {
    padding: 0.313em 1.125em;
    font-size: var(--fs-5);
  }

  .info_more-btn {
    top: -1.88em;
    right: -1.88em;
    padding: 0.63em 0.94em;
  }

  .info_more-btn span:nth-child(1) {
    display: block;
    font-size: var(--fs-5);
  }

  .info_more-btn span:nth-child(2) {
    display: none;
  }

  .separator {
    margin: 2em 0;
  }

  .contacts-list {
    gap: 1.25em;
  }

  .contact-info {
    max-width: calc(100% - 4em);
    width: calc(100% - 4em);
  }

  .contact-info p {
    font-size: var(--fs-4);
  }

  /* Navbar */
  .navbar {
    border-radius: 1.25em 1.25em 0 0;
  }

  .navbar-list {
    gap: 1.25em;
  }

  .navbar-link {
    font-size: 1.3em;
  }

  /* About */
  .about .article-title {
    margin-bottom: 1.25em;
  }

  .about-text {
    margin-bottom: 2.5em;
    font-size: var(--fs-4);
  }

  /* Service */
  .service-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.13em;
    padding: 1.88em;
  }

  .service-icon-box {
    margin-bottom: 0;
    margin-top: 0.31em;
  }

  .service-content-box {
    text-align: left;
  }

  .service-item-text {
    font-size: var(--fs-4);
  }

  /* Testimonials */
  .testimonials-title {
    margin-bottom: 1.56em;
  }

  .testimonials-list {
    gap: 1.88em;
    margin: 0 -1.88em;
    padding: 1.88em;
    padding-bottom: 2.19em;
  }

  .content-card {
    padding: 1.88em;
    padding-top: 1.56em;
  }

  .testimonials-avatar-box {
    transform: translate(1.88em, -1.88em);
    border-radius: 1.25em;
  }

  .testimonials-avatar-box img {
    width: 5em;
  }

  .testimonials-item-title {
    margin-bottom: 0.625em;
    margin-left: 5.93em;
  }

  .testimonials-text {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    font-size: var(--fs-4);
  }

  /* Testimonials modal */
  .modal-container {
    padding: 1.88em;
  }

  .testimonials-modal {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.56em;
    padding: 1.88em;
    border-radius: 1.25em;
  }

  .modal-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-avatar-box {
    border-radius: 1.125em;
    margin-bottom: 0;
  }

  .modal-avatar-box img {
    width: 5em;
  }

  .modal-img-wrapper>img {
    display: block;
    flex-grow: 1;
    width: 2.19em;
  }

  .modal-title {}

  .modal-content time {
    font-size: var(--fs-4)
  }

  .modal-content p {
    font-size: var(--fs-4);
  }

  /* Clients */
  .clients-list {
    gap: 3.13em;
    margin: 0 -1.88em;
    padding: 2.81em;
    scroll-padding-inline: 2.81em;
  }

  .clients-item {
    min-width: calc(33.33% - 2.2em);
  }

  /* Resume */
  .timeline-list {
    margin-left: 4.06em;
  }

  .timeline-item:not(:last-child)::before {
    left: -2.5em;
  }

  .timeline-item::after {
    height: 0.5em;
    width: 0.5em;
    left: -2.69em;
    top: 0.63em;
  }

  .timeline-item span {
    font-size: var(--fs-4);
  }

  .timeline-item-title {
    font-weight: var(--fw-500);
  }

  .skills-item:not(:last-child) {
    margin-bottom: 1.56em;
  }

  .skills-item .title-wrapper h5 {
    font-size: var(--fs-4);
  }

  .skills-item .title-wrapper data {
    font-size: var(--fs-4);
    margin-left: .5em;
  }

  /* Portfolio */
  .project-img, .blog-banner-box {
    border-radius: 1em;
  }

  .blog-posts-list {
    gap: 1.88em;
  }

  .blog-content {
    padding: 1.56em;
  }

  .filter-select {
    font-size: var(--fs-4);
  }

  .project-item, .blog-post-item {
    margin-top: 2em;
  }

  /* Contact */
  .mapbox {
    height: 23.75em;
    border-radius: 1.125em;
  }

  .input-wrapper {
    gap: 1.88em;
    margin-bottom: 1.88em;
  }

  .form-input {
    padding: 0.94em 1.25em;
  }

  textarea.form-input {
    margin-bottom: 1.88em;
  }

  .form-btn {
    --fs-6: 1em;
    padding: 1em 1.25em;
  }

  .form-btn span {
    font-size: 1.125em;
  }
}

/* /// */
/* > 50em */
@media (min-width: 50em) {

  /* Components */
  .sidebar, article {
    width: 700px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 100px;
  }

  /* Sidebar */
  .contacts-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 0.94em;
  }

  /* Navbar */
  .navbar-link {
    --fs-8: 17px;
  }

  /* Testimonials modal */
  .testimonials-modal {
    gap: 35px;
    max-width: 680px;
  }

  .modal-avatar-box img {
    width: 80px;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Portfolio */
  .article-title {
    padding-bottom: 1.25em;
  }

  .filter-select-box {
    display: none;
  }

  .filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .filter-item button {
    color: var(--light-grey);
    font-size: var(--fs-4);
    transition: var(--transition-1);
  }

  .filter-item button:hover {
    color: var(--light-grey-70);
  }

  .filter-item button.active {
    color: var(--orange-yellow-crayola);
  }

  /* Portfolio and blog grid */
  .project-list, .blog-post-list {
    grid-template-columns: 1fr 1fr;
  }

  /* Contact */
  .input-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  textarea {
    grid-column: 1/3;
  }

  .form-btn {
    width: max-content;
    margin-left: auto;
  }
}

/* /// */
@media (min-width: 55em) {

  /* Custom property */
  :root {
    /* Shadow */
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
  }

  /* Components */
  .sidebar, article {
    width: 59.38em;
    box-shadow: var(--shadow-1);
  }

  main {
    margin-bottom: 3.75em;
  }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }

  /* Navbar */
  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 1.25em;
    padding: 0 1.25em;
    box-shadow: none;
  }

  .navbar-list {
    gap: 1.88em;
    padding: 0 1.25em;
  }

  .navbar-link {
    font-weight: var(--fw-500);
  }

  /* About */
  /* Service */
  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 1.25em 25px;
  }

  /* Testimonials */
  .testimonials-item {
    min-width: calc(50% - 0.94em);
  }

  /* Clients */
  .clients-item {
    min-width: calc(25% - 38px);
  }

  .timeline-text {
    font-size: var(--fs-4)
  }

  /* Portfolio */
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Blog */
  .blog-banner-box {
    height: 230px;
  }
}

@media (min-width: 60em) {

  /* Reset */
  body::-webkit-scrollbar {
    width: 1.25em;
  }

  body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 1.25em;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }

  body::-webkit-scrollbar-button {
    height: 60px;
  }

  /* Components */
  .sidebar, article {
    width: auto;
  }

  article {
    min-height: 100%;
  }

  /* Main */
  main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  /* Sidebar */
  .sidebar {
    position: sticky;
    top: .5em;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar-info {
    flex-direction: column;
  }

  .avatar-box img {
    width: 150px;
  }

  .info-content .name {
    white-space: nowrap;
    text-align: center;
  }

  .info-content .title {
    margin: auto;
  }

  .info_more-btn {
    display: none;
  }

  .sidebar-info-more {
    opacity: 1;
    visibility: visible;
  }

  .contacts-list {
    grid-template-columns: 1fr;
  }

  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-info :is(.contacts-link, time, address) {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }

  .separator:last-of-type {
    margin: 0.94em 0;
    opacity: 0;
  }

  .social-list {
    justify-content: center;
  }

  /* Resume */
  .timeline-text {
    max-width: 700px;
  }
}
